:root {
  --blue: #266dd3;
  --orange: #f46036;
  --silver: #ada8b6;
  --gray: #cecfc7;
  --bege: #eff8e2;
  --white: #fff;
  --black: #010400;
  --light-black: #01161e;
  --base-transition: 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100%;
  width: 100%;
}

a {
  color: var(--blue);
  transition: 0.25s ease-in-out;
}

a:hover {
  color: var(--orange);
}
